body {
     font-size: 20px;
     margin: 50px;
     margin-left: 90px;
     margin-right: 90px;
     background-image: url("https://cdn.wallpapersafari.com/73/33/P9b2gR.jpg");
}

h2 {
     text-decoration: underline;
}