body {
    background: linear-gradient(to bottom right, #0099cc, #00ffff);
    background-repeat: no-repeat;
    
}

.teljesmenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.lemegy {
    position: relative;
    background: black;
    color: white;
    font-size: 20px;
    padding: 8px 20px;
    width: 150px;
    line-height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    cursor: pointer;
    transition: width .4s;
}

/* .lemegy:hover {
    width: 40%;
} */

ul {
    list-style: none;
    position: absolute;
    display: block;
    background: black;
    top: 65px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

ul li {
    line-height: 35px;
    padding: 5px 20px;
    border-bottom: 8px solid lightseagreen;
}

ul li a {
    color: white;
    text-decoration: none;
     
}