.menu-mobile {
  background: #ffc20e;
  -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  color: #222;
}

.menu-mobile .title {
  color: #003D3F;
}

.menu-mobile .nav li {
  background-color: #ffc20e;
}

li a:hover {
  color: aqua;
}

