.menu-mobile {
  background: #33cc33;
  -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#feliratkozasszoveg {
  color: #ff9900;
}

#feliratkozas #feliratkozasszoveg:hover {
  background: #33cc33 no-repeat fixed;
  color: rgb(255, 204, 102);
}

#feliratkozas #feliratkozasszoveg:link {
  text-decoration: none;
}

