.menu-mobile {
  background: #996633;
  -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#feliratkozaszoveg {
  color: #FFFDD0;
}

#feliratkozas #feliratkozaszoveg:hover {
  background: #996633 no-repeat fixed;
  color: rgb(0, 0, 0);
}

#feliratkozas #feliratkozaszoveg:link {
  text-decoration: none;
}


