body {
  background-image: linear-gradient(73deg, rgb(37, 37, 37) 50%, rgb(98, 98, 98) 75%);
  text-shadow: 1px 1px 10px rgba(73, 73, 73, 0.726);
  color: rgb(138, 138, 138);
}

.menu-mobile {
  background: #ffc20e;
  -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -3px 0px 5px 0px rgba(138, 138, 138, 0.2);
  color: #222;
  text-align: center;
}

.menu-mobile .title {
  color: #003D3F;
}

.menu-mobile .nav #feliratkozas {
  background: #ffc20e no-repeat fixed;
}


#feliratkozas a:hover {
  color: aqua;
  background: #ffc20e no-repeat fixed;
  color: rgb(215, 26, 221);
}

#feliratkozas a:link {
  text-decoration: none;
}